.about-container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-image68550fe5b488468b85cff94293df7d251 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 784px;
  bottom: 0px;
  height: 755px;
  margin: auto;
  opacity: 0.80;
  position: absolute;
}
.about-navbar {
  width: 100%;
  height: 49px;
  display: flex;
  padding: 7px 55px;
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.about-navlink {
  display: contents;
}
.about-blackcloud {
  width: 67px;
  height: 54px;
  align-self: center;
  text-decoration: none;
}
.about-menucloud {
  display: none;
}
.about-sidebarleft {
  width: 214px;
  height: 180px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.about-sidetag {
  gap: 10px;
  width: 214px;
  display: flex;
  padding: 1px 10px;
  align-items: center;
  flex-shrink: 0;
}
.about-menuitem {
  gap: 10px;
  display: flex;
  padding: 3px 20px;
  align-items: center;
}
.about-text {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 11px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-sidetag1 {
  gap: 10px;
  width: 214px;
  display: flex;
  padding: 1px 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-navlink1 {
  display: contents;
}
.about-menuitem01 {
  gap: 10px;
  display: flex;
  padding: 3px 20px;
  align-items: center;
  text-decoration: none;
}
.about-text02 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 11px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-sidetag2 {
  gap: 10px;
  width: 214px;
  display: flex;
  padding: 1px 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-menuitem02 {
  gap: 10px;
  display: flex;
  padding: 3px 20px;
  align-items: center;
}
.about-text04 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 11px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-sidetag3 {
  gap: 10px;
  width: 214px;
  display: flex;
  padding: 1px 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-menuitem03 {
  gap: 10px;
  display: flex;
  padding: 3px 20px;
  align-items: center;
}
.about-text06 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 11px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-sidetag4 {
  gap: 10px;
  width: 214px;
  display: flex;
  padding: 1px 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-menuitem04 {
  gap: 10px;
  display: flex;
  padding: 3px 20px;
  align-items: center;
}
.about-text08 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 11px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-sidetag5 {
  gap: 10px;
  width: 214px;
  display: flex;
  padding: 1px 10px;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-menuitem05 {
  gap: 10px;
  display: flex;
  padding: 3px 20px;
  align-items: center;
}
.about-text10 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 11px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-container1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 715px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.about-bottomnav {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-icons {
  gap: 25px;
  width: 375px;
  height: 16px;
  display: flex;
  padding: 0 0 0 50px;
  align-items: center;
  flex-shrink: 0;
}
.about-twitter {
  width: 21px;
  height: 100%;
}
.about-instagram {
  width: 16px;
  height: 100%;
}
.about-opensea {
  width: 16px;
  height: 100%;
}
.about-navlink2 {
  display: contents;
}
.about-closecloud {
  width: 60px;
  height: 36px;
  text-decoration: none;
}
.about-navlinks {
  width: 375px;
  height: 34px;
  display: flex;
  padding: 0 50px 0 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.about-menuitembutton {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.about-text12 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitembutton1 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.about-text13 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitembutton2 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.about-text14 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitembutton3 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.about-text15 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text16 {
  color: rgba(52, 52, 52, 1);
  width: 151px;
  height: auto;
  display: none;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-rectangle21 {
  width: 322px;
  height: 41px;
  display: none;
}
.about-contenttogleft {
  gap: 9px;
  top: 212px;
  left: 270px;
  width: 183px;
  height: 95px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.about-text18 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-contenttogleft1 {
  gap: 24px;
  top: 347px;
  left: 272px;
  height: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-text21 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text22 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Black;
  text-align: center;
  font-family: Work Sans;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.about-bottomrightcontent {
  gap: 10px;
  left: 0px;
  width: auto;
  bottom: 135px;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 100px;
  flex-direction: column;
}
.about-ellipse1 {
  top: 45px;
  left: 122px;
  width: 85px;
  height: 85px;
  z-index: 1;
  position: absolute;
}
.about-f228b813dde54351af531c036b8fb5b5 {
  width: 531px;
  height: 364px;
}
.about-header {
  gap: -4px;
  top: 213px;
  right: 0px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  margin-right: 50px;
  flex-direction: column;
}
.about-text23 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-line1 {
  width: 278px;
  height: 1px;
  align-self: stretch;
}
.about-staitions {
  gap: 24px;
  top: 255px;
  right: 0px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  margin-right: 100px;
  flex-direction: column;
}
.about-contenttogleft2 {
  gap: 9px;
  width: 220px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.about-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-contenttogleft3 {
  gap: 9px;
  width: 220px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.about-text34 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text36 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-staitions1 {
  gap: 24px;
  top: 427px;
  right: 0px;
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-shrink: 0;
  margin-right: 100px;
  flex-direction: column;
}
.about-contenttogleft4 {
  gap: 9px;
  width: 220px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.about-text38 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text40 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-contenttogleft5 {
  gap: 9px;
  width: 220px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.about-text42 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text44 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-contenttogleft6 {
  gap: 9px;
  width: 220px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.about-text46 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text48 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 10px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-container2 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 22px;
  display: flex;
  padding: 0 85px 0 0;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.about-text50 {
  color: rgba(52, 52, 52, 1);
  width: 151px;
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-group3 {
  width: 198px;
  height: 103px;
  display: none;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-ae37d9b50c254a9eb1518404f67597601 {
  top: 0px;
  left: 10px;
  width: 177px;
  height: 89px;
  position: absolute;
}
.about-text52 {
  top: 89px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-phonepopup {
  width: 100%;
  height: 844px;
  display: none;
  position: fixed;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.about-menuitem06 {
  gap: 10px;
  top: 306px;
  left: 160px;
  width: 69px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.about-text54 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitem07 {
  gap: 10px;
  top: 339px;
  left: 149px;
  width: 90px;
  height: 40px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
.about-text55 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitem08 {
  gap: 10px;
  top: 379px;
  left: 147px;
  width: 94px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.about-text56 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitem09 {
  gap: 10px;
  top: 420px;
  left: 151px;
  width: 87px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.about-text58 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitem10 {
  gap: 10px;
  top: 461px;
  left: 144px;
  width: 101px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
}
.about-text59 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitem11 {
  gap: 10px;
  top: 497px;
  left: 151px;
  width: 88px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
}
.about-text60 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-line11 {
  top: 461px;
  left: 214.919921875px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.about-line13 {
  top: 420px;
  left: 214.919921875px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.about-line14 {
  top: 379px;
  left: 214.919921875px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.about-line16 {
  top: 347px;
  left: 214.91998291015625px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.about-line111 {
  top: 502px;
  left: 214.919921875px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.about-group31 {
  width: 198px;
  height: 103px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.about-ae37d9b50c254a9eb1518404f675976011 {
  top: 0px;
  left: 10px;
  width: 177px;
  height: 89px;
  position: absolute;
}
.about-text61 {
  top: 89px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-bottomnav1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-icons1 {
  gap: 25px;
  width: 375px;
  height: 16px;
  display: flex;
  padding: 0 0 0 50px;
  align-items: center;
  flex-shrink: 0;
}
.about-twitter1 {
  width: 21px;
  height: 100%;
}
.about-instagram1 {
  width: 16px;
  height: 100%;
}
.about-opensea1 {
  width: 16px;
  height: 100%;
}
.about-closecloud1 {
  width: 60px;
  height: 36px;
}
.about-navlinks1 {
  width: 375px;
  height: 34px;
  display: flex;
  padding: 0 50px 0 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.about-menuitembutton4 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.about-text62 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitembutton5 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.about-text63 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitembutton6 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.about-text64 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-menuitembutton7 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.about-text65 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text66 {
  color: rgba(52, 52, 52, 1);
  width: 151px;
  height: auto;
  display: none;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-rectangle211 {
  width: 322px;
  height: 41px;
  display: none;
}
@media(max-width: 1200px) {
  .about-image68550fe5b488468b85cff94293df7d251 {
    width: 658px;
    height: 642px;
  }
  .about-text16 {
    display: none;
  }
  .about-contenttogleft {
    top: 216px;
    left: 165px;
  }
  .about-contenttogleft1 {
    top: 351px;
    left: 167px;
  }
  .about-bottomrightcontent {
    left: 0px;
  }
  .about-f228b813dde54351af531c036b8fb5b5 {
    width: 446px;
    height: 289px;
  }
  .about-header {
    top: 213px;
    right: 0px;
  }
  .about-staitions {
    top: 255px;
    right: 0px;
  }
  .about-staitions1 {
    top: 427px;
    right: 0px;
  }
  .about-phonepopup {
    display: none;
  }
  .about-text66 {
    display: none;
  }
}
@media(max-width: 991px) {
  .about-image68550fe5b488468b85cff94293df7d251 {
    width: 564px;
    height: 526px;
  }
  .about-container1 {
    height: 731px;
  }
  .about-bottomnav {
    padding-bottom: 10px;
  }
  .about-icons {
    width: 151px;
  }
  .about-navlinks {
    display: none;
  }
  .about-text16 {
    display: flex;
  }
  .about-rectangle21 {
    display: none;
  }
  .about-contenttogleft {
    top: 212px;
    left: 155px;
  }
  .about-contenttogleft1 {
    top: 347px;
    left: 157px;
  }
  .about-bottomrightcontent {
    left: 0px;
  }
  .about-ellipse1 {
    top: 2px;
    left: 85px;
  }
  .about-f228b813dde54351af531c036b8fb5b5 {
    width: 386px;
    height: 261px;
  }
  .about-header {
    top: 210px;
    right: 0px;
  }
  .about-staitions {
    top: 252px;
    right: 0px;
  }
  .about-staitions1 {
    top: 424px;
    right: 0px;
  }
  .about-container2 {
    display: none;
  }
  .about-bottomnav1 {
    padding-bottom: 10px;
  }
  .about-icons1 {
    width: 151px;
  }
  .about-navlinks1 {
    display: none;
  }
  .about-text66 {
    display: flex;
  }
  .about-rectangle211 {
    display: none;
  }
}
@media(max-width: 767px) {
  .about-image68550fe5b488468b85cff94293df7d251 {
    width: 478px;
    height: 426px;
  }
  .about-contenttogleft {
    top: 217px;
    left: 99px;
    align-items: flex-start;
  }
  .about-contenttogleft1 {
    top: 349px;
    left: 106px;
    align-items: flex-start;
  }
  .about-bottomrightcontent {
    left: 0px;
  }
  .about-ellipse1 {
    top: -21px;
    left: 83px;
  }
  .about-f228b813dde54351af531c036b8fb5b5 {
    width: 331px;
    height: 208px;
  }
  .about-header {
    top: 209px;
    right: -48px;
  }
  .about-staitions {
    top: 261px;
    right: -44px;
  }
  .about-staitions1 {
    top: 436px;
    right: -45px;
  }
}
@media(max-width: 479px) {
  .about-image68550fe5b488468b85cff94293df7d251 {
    top: -44px;
    left: -18px;
  }
  .about-blackcloud {
    display: none;
  }
  .about-menucloud {
    width: 93px;
    height: 68px;
    display: flex;
    align-self: center;
  }
  .about-sidebarleft {
    display: none;
  }
  .about-container1 {
    display: none;
  }
  .about-bottomnav {
    left: 0px;
    width: 100%;
    bottom: 0px;
    display: none;
    position: absolute;
    padding-right: 0px;
  }
  .about-text16 {
    display: none;
  }
  .about-rectangle21 {
    width: 151px;
    display: flex;
  }
  .about-contenttogleft {
    top: 83px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
  }
  .about-contenttogleft1 {
    top: 229px;
    left: 0px;
    right: 0px;
    width: 121px;
    margin: auto;
  }
  .about-bottomrightcontent {
    top: 248px;
    left: 37px;
    display: none;
    margin-left: 0px;
  }
  .about-f228b813dde54351af531c036b8fb5b5 {
    display: none;
  }
  .about-header {
    top: 418px;
    left: 0px;
    right: 0px;
    width: 279px;
    height: 60px;
    margin: auto;
    position: absolute;
  }
  .about-text23 {
    align-self: center;
  }
  .about-line1 {
    align-self: center;
  }
  .about-staitions {
    top: 487px;
    left: 0px;
    right: 0px;
    width: 228px;
    height: 168px;
    margin: auto;
    position: absolute;
  }
  .about-staitions1 {
    left: 0px;
    right: 0px;
    width: 238px;
    bottom: 0px;
    height: 200px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
  }
  .about-container2 {
    display: none;
  }
  .about-group3 {
    left: 134px;
    bottom: 46px;
    display: flex;
    position: absolute;
    align-self: center;
  }
  .about-ae37d9b50c254a9eb1518404f67597601 {
    top: -1px;
    left: 6px;
  }
  .about-text52 {
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
  }
  .about-phonepopup {
    height: 100%;
    display: flex;
    opacity: 1;
    align-self: center;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
  }
  .about-menuitem06 {
    left: 0px;
    right: 0px;
    width: 58px;
    margin: auto;
  }
  .about-text54 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .about-menuitem07 {
    top: 345px;
    left: 0px;
    right: 0px;
    width: 69px;
    height: 37px;
    margin: auto;
  }
  .about-text55 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .about-menuitem08 {
    left: 0px;
    right: 0px;
    width: 83px;
    margin: auto;
  }
  .about-menuitem09 {
    left: 0px;
    right: 0px;
    width: 86px;
    margin: auto;
  }
  .about-text58 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .about-menuitem10 {
    left: 0px;
    right: 0px;
    width: 77px;
    margin: auto;
  }
  .about-text59 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .about-menuitem11 {
    top: 502px;
    left: 0px;
    right: 0px;
    width: 87px;
    height: 34px;
    margin: auto;
  }
  .about-text60 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .about-line11 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .about-line13 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .about-line14 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .about-line16 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .about-line111 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .about-pasted-image {
    top: -11px;
    left: 192px;
    width: 94px;
    height: 71px;
    margin: auto;
    position: absolute;
  }
  .about-group31 {
    left: 130px;
    bottom: 47px;
    margin: auto;
    position: absolute;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
  }
  .about-ae37d9b50c254a9eb1518404f675976011 {
    top: -1px;
    left: 10px;
    margin: auto;
  }
  .about-text61 {
    left: 20px;
    color: rgb(0, 0, 0);
    width: auto;
    bottom: -1px;
    margin: auto;
    font-size: 12px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .about-bottomnav1 {
    left: 0px;
    width: 100%;
    bottom: 0px;
    display: none;
    position: absolute;
    padding-right: 0px;
  }
  .about-text66 {
    display: none;
  }
  .about-rectangle211 {
    width: 151px;
    display: flex;
  }
}
