.homepage-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.homepage-container1 {
  height: 80px;
  display: none;
  padding: 0 200px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.homepage-blackcloud {
  width: 67px;
  height: 54px;
  align-self: center;
  text-decoration: none;
}
.homepage-image725backgroundwhite11 {
  width: auto;
  height: 671px;
  align-self: stretch;
  transition: 0.3s;
}
.homepage-image725backgroundwhite11:hover {
  opacity: 0.75;
}
.homepage-navbar {
  width: 100%;
  height: auto;
  display: none;
  padding: 0 80px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.homepage-menu {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.homepage-popupmenu {
  width: 100%;
  height: 270px;
  display: none;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.homepage-menuitem {
  gap: 10px;
  top: 9px;
  left: -1px;
  width: 68px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.homepage-text {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem01 {
  gap: 10px;
  top: 50px;
  left: -3px;
  width: 90px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.homepage-text01 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem02 {
  gap: 10px;
  top: 91px;
  left: -4px;
  width: 94px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.homepage-text02 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem03 {
  gap: 10px;
  top: 132px;
  left: -3.5px;
  width: 87px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.homepage-text04 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem04 {
  gap: 10px;
  top: 173px;
  left: -3px;
  width: 101px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.homepage-text05 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem05 {
  gap: 10px;
  top: 214px;
  left: -3.5px;
  width: 88px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
}
.homepage-text06 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-line11 {
  top: 173px;
  left: 61.41998291015625px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-line13 {
  top: 132px;
  left: 62.41998291015625px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-line14 {
  top: 91px;
  left: 62.41998291015625px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-line15 {
  top: 49px;
  left: 61.41998291015625px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-line111 {
  top: 214px;
  left: 61.41998291015625px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-navbar1 {
  display: flex;
  padding: 7px 55px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: 7px 55px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.homepage-navlinks {
  width: 322px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.homepage-text07 {
  width: 68px;
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  border-width: 0px;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-line4 {
  width: 14px;
  height: 1px;
}
.homepage-text08 {
  color: rgb(0, 0, 0);
  width: 105px;
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  border-width: 0px;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-line3 {
  width: 14px;
  height: 1px;
}
.homepage-text09 {
  color: rgba(0, 0, 0, 1);
  width: 69px;
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  border-width: 0px;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-line5 {
  width: 14px;
  height: 1px;
}
.homepage-text11 {
  color: rgb(0, 0, 0);
  width: 80px;
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  border-width: 0px;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-navlink05 {
  display: contents;
}
.homepage-pasted-image1 {
  width: 60px;
  height: 36px;
  text-decoration: none;
}
.homepage-rectangle21 {
  width: 322px;
  height: 41px;
}
.homepage-text12 {
  top: 726px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 600px;
  opacity: 1;
  z-index: 100;
  position: absolute;
  font-size: 27px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  padding-top: 80px;
  font-stretch: normal;
  padding-left: 200px;
  padding-right: 200px;
  letter-spacing: 9px;
  text-decoration: none;
}
.homepage-text12:hover {
  color: #ffffff;
  opacity: 1;
  z-index: 101;
  background-color: rgba(217, 217, 217, 0.25);
}
.homepage-image725backgroundblack2 {
  width: 100%;
  height: 600px;
  display: flex;
  z-index: 100;
  transition: 0.3s;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("external/image725backgroundblack21164-n39j-1500w.png");
  background-position: center;
}
.homepage-image725backgroundblack2:hover {
  opacity: 0.75;
  z-index: 0;
}
.homepage-container2 {
  height: 80px;
  display: flex;
  padding: 0 200px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.homepage-text14 {
  color: rgba(0, 0, 0, 1);
  width: 348px;
  height: auto;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-container3 {
  height: 648px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.homepage-link1 {
  display: contents;
}
.homepage-image49d43daeb39a4590b09f84645a0a1d811 {
  width: 1058px;
  height: 569px;
  z-index: 100;
  transition: 0.3s;
  text-decoration: none;
}
.homepage-image49d43daeb39a4590b09f84645a0a1d811:hover {
  opacity: 0.75;
  z-index: 0;
}
.homepage-image9d607ac5910b4d6ba1ba3c8110d945bb1 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 301px;
  bottom: 0px;
  height: 210px;
  margin: auto;
  opacity: 0.75;
  z-index: 1;
  position: absolute;
  transition: 0.3s;
}

.homepage-container4 {
  height: 228px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.homepage-text16 {
  color: rgba(0, 0, 0, 1);
  width: 563px;
  height: auto;
  font-size: 22px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-container5 {
  height: 80px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.homepage-text21 {
  color: rgb(0, 0, 0);
  width: auto;
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-bottomnav {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.homepage-icons {
  gap: 25px;
  width: 375px;
  height: 16px;
  display: flex;
  padding: 0 0 0 50px;
  align-items: center;
  flex-shrink: 0;
}
.homepage-link2 {
  display: contents;
}
.homepage-twitter {
  width: 21px;
  height: 100%;
  text-decoration: none;
}
.homepage-instagram {
  width: 16px;
  height: 100%;
}
.homepage-link3 {
  display: contents;
}
.homepage-opensea {
  width: 16px;
  height: 100%;
  text-decoration: none;
}
.homepage-navlink06 {
  display: contents;
}
.homepage-closecloud {
  width: 60px;
  height: 36px;
  text-decoration: none;
}
.homepage-navlinks1 {
  width: 375px;
  height: 34px;
  display: flex;
  padding: 0 50px 0 0;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.homepage-menuitembutton {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.homepage-text22 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitembutton1 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.homepage-text23 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitembutton2 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.homepage-text24 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitembutton3 {
  gap: 10px;
  display: flex;
  padding: 16px 20px;
  align-items: center;
  text-decoration: none;
}
.homepage-text25 {
  color: rgb(39, 39, 39);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-text26 {
  color: rgba(52, 52, 52, 1);
  width: 151px;
  height: auto;
  display: none;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-rectangle211 {
  width: 322px;
  height: 41px;
  display: none;
}
.homepage-container6 {
  height: 22px;
  display: flex;
  padding: 0 85px 0 0;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.homepage-text28 {
  color: rgba(52, 52, 52, 1);
  width: 151px;
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-phonepopup {
  width: 100%;
  height: 844px;
  display: none;
  position: fixed;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.homepage-menuitem06 {
  gap: 10px;
  top: 306px;
  left: 160px;
  width: 69px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.homepage-text30 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem07 {
  gap: 10px;
  top: 339px;
  left: 149px;
  width: 90px;
  height: 40px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
.homepage-text31 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem08 {
  gap: 10px;
  top: 379px;
  left: 147px;
  width: 94px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.homepage-text32 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem09 {
  gap: 10px;
  top: 420px;
  left: 151px;
  width: 87px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.homepage-text34 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem10 {
  gap: 10px;
  top: 461px;
  left: 144px;
  width: 101px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
  text-decoration: none;
}
.homepage-text35 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-menuitem11 {
  gap: 10px;
  top: 497px;
  left: 151px;
  width: 88px;
  display: flex;
  padding: 16px 20px;
  position: absolute;
  align-items: center;
}
.homepage-text36 {
  color: rgba(39, 39, 39, 1);
  height: auto;
  font-size: 8px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.homepage-line112 {
  top: 461px;
  left: 214.919921875px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-line131 {
  top: 420px;
  left: 214.919921875px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-line141 {
  top: 379px;
  left: 214.919921875px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-line16 {
  top: 347px;
  left: 214.91998291015625px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-line113 {
  top: 502px;
  left: 214.919921875px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.homepage-blackcloud1 {
  width: 67px;
  height: 54px;
  align-self: center;
  text-decoration: none;
}
.homepage-group3 {
  width: 198px;
  height: 103px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.homepage-ae37d9b50c254a9eb1518404f67597601 {
  top: 0px;
  left: 10px;
  width: 177px;
  height: 89px;
  position: absolute;
}
.homepage-text37 {
  top: 89px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .homepage-container1 {
    padding-left: 125px;
  }
  .homepage-image725backgroundwhite11 {
    height: 532px;
  }
  .homepage-text12 {
    top: 584px;
    left: 0px;
    right: 0px;
    height: 470px;
    margin: auto;
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 100px;
  }
  .homepage-image725backgroundblack2 {
    width: 100%;
    height: 470px;
    align-self: center;
    padding-left: 3px;
  }
  .homepage-container2 {
    padding-left: 125px;
  }
  .homepage-image49d43daeb39a4590b09f84645a0a1d811 {
    width: 953px;
    height: 490px;
  }
  .homepage-text26 {
    display: none;
  }
  .homepage-phonepopup {
    display: none;
  }
}
@media(max-width: 991px) {
  .homepage-container1 {
    padding-left: 175px;
  }
  .homepage-image725backgroundwhite11 {
    display: none;
  }
  .homepage-navbar {
    height: 58px;
    display: flex;
  }
  .homepage-menu {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-style: normal;
    text-align: left;
    font-family: Work Sans;
    font-weight: 700;
    border-width: 0px;
    background-color: transparent;
  }
  .homepage-pasted-image {
    width: 59px;
    height: 35px;
  }
  .homepage-popupmenu {
    top: 57px;
    left: 65px;
    width: 128px;
    display: flex;
    z-index: 200;
    align-self: flex-start;
    background-color: #ffffff;
  }
  .homepage-text {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-menuitem01 {
    top: 49px;
    left: 0px;
    width: 82px;
  }
  .homepage-text01 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-text04 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-line11 {
    left: 0px;
    margin-left: 20px;
  }
  .homepage-line13 {
    left: 0px;
    margin-left: 20px;
  }
  .homepage-line14 {
    left: 0px;
    margin-left: 20px;
  }
  .homepage-line15 {
    left: 20px;
  }
  .homepage-line111 {
    left: 0px;
    margin-left: 20px;
  }
  .homepage-navbar1 {
    display: none;
  }
  .homepage-navlinks {
    display: none;
  }
  .homepage-rectangle21 {
    display: none;
  }
  .homepage-text12 {
    top: 58px;
    left: 0px;
    height: 407px;
    font-size: 17px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 7px;
  }
  .homepage-image725backgroundblack2 {
    height: 407px;
    z-index: 100;
  }
  .homepage-container2 {
    padding-left: 175px;
  }
  .homepage-container3 {
    height: 429px;
  }
  .homepage-image49d43daeb39a4590b09f84645a0a1d811 {
    width: 621px;
    height: 376px;
  }
  .homepage-image9d607ac5910b4d6ba1ba3c8110d945bb1 {
    width: 277px;
    height: 190px;
  }
  .homepage-bottomnav {
    padding-bottom: 10px;
  }
  .homepage-icons {
    width: 151px;
  }
  .homepage-navlinks1 {
    display: none;
  }
  .homepage-text26 {
    display: flex;
  }
  .homepage-rectangle211 {
    display: none;
  }
  .homepage-container6 {
    display: none;
  }
}
@media(max-width: 767px) {
  .homepage-container1 {
    padding-left: 83px;
  }
  .homepage-navbar {
    flex-wrap: wrap;
  }
  .homepage-popupmenu {
    height: 257px;
    display: none;
  }
  .homepage-text {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-text01 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-text04 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-text05 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-text06 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-text12 {
    height: 347px;
    font-size: 13px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 5px;
  }
  .homepage-image725backgroundblack2 {
    height: 347px;
  }
  .homepage-container2 {
    padding-left: 83px;
  }
  .homepage-container3 {
    height: 413px;
  }
  .homepage-image49d43daeb39a4590b09f84645a0a1d811 {
    width: 565px;
    height: 324px;
  }
}
@media(max-width: 479px) {
  .homepage-container {
    height: fit-content;
  }
  .homepage-container1 {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 71px;
    display: flex;
    padding: 0;
    position: absolute;
  }
  .homepage-blackcloud {
    width: 87px;
    height: 62px;
  }
  .homepage-image725backgroundwhite11 {
    display: none;
  }
  .homepage-navbar {
    display: none;
  }
  .homepage-popupmenu {
    display: none;
  }
  .homepage-navbar1 {
    display: none;
  }
  .homepage-text12 {
    display: none;
  }
  .homepage-image725backgroundblack2 {
    display: none;
  }
  .homepage-container2 {
    display: none;
  }
  .homepage-container3 {
    display: none;
  }
  .homepage-container4 {
    display: none;
  }
  .homepage-container5 {
    display: none;
  }
  .homepage-bottomnav {
    left: 0px;
    width: 100%;
    bottom: 0px;
    display: none;
    position: absolute;
    padding-right: 0px;
  }
  .homepage-text26 {
    display: none;
  }
  .homepage-rectangle211 {
    width: 151px;
    display: flex;
  }
  .homepage-container6 {
    display: none;
  }
  .homepage-phonepopup {
    top: 0px;
    right: -4px;
    width: 478px;
    height: 100%;
    display: flex;
    opacity: 1;
    z-index: 100;
    align-self: center;
  }
  .homepage-menuitem06 {
    left: 0px;
    right: 0px;
    width: 58px;
    margin: auto;
  }
  .homepage-text30 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-menuitem07 {
    top: 345px;
    left: 0px;
    right: 0px;
    width: 69px;
    height: 37px;
    margin: auto;
  }
  .homepage-text31 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-menuitem08 {
    left: 0px;
    right: 0px;
    width: 83px;
    margin: auto;
  }
  .homepage-menuitem09 {
    left: 0px;
    right: 0px;
    width: 86px;
    margin: auto;
  }
  .homepage-text34 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-menuitem10 {
    left: 0px;
    right: 0px;
    width: 77px;
    margin: auto;
  }
  .homepage-text35 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-menuitem11 {
    top: 502px;
    left: 0px;
    right: 0px;
    width: 87px;
    height: 34px;
    margin: auto;
  }
  .homepage-text36 {
    color: rgb(39, 39, 39);
    font-size: 8px;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .homepage-line112 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .homepage-line131 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .homepage-line141 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .homepage-line16 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .homepage-line113 {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .homepage-blackcloud1 {
    top: 5px;
    left: 0px;
    right: 0px;
    width: 87px;
    height: 62px;
    margin: auto;
    position: absolute;
  }
  .homepage-group3 {
    left: 0px;
    right: 0px;
    bottom: 9px;
    margin: auto;
    position: absolute;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
  }
  .homepage-ae37d9b50c254a9eb1518404f67597601 {
    top: -1px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .homepage-text37 {
    left: 0px;
    right: 0px;
    bottom: 2px;
    margin: auto;
  }
}
